body{
    font-family: 'Montserrat Alternates', sans-serif;
}

#title{
    background-color: #ff4c68;
    color: #fff;

}



.container{
    padding: 5% 15%;

}


.h1-h1{
    font-family: 'Montserrat-black';
    size: 10rem;
    line-height: 1.5;
    color:  aliceblue;
}

.h2{
    font-family: 'Montserrat-Bold';

}

h3{
    font-family: 'Montserrat-Bold';
}


/* features section */

#features{
    text-align: center;
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;

}

.feature-box{
    padding: 5%;
}


.icon{
    color:#ff4c68;
    padding-bottom: 20px;
}

.icon:hover{
    color: #ef8172;
}

p{
    color:#8f8f8f;
}

/* Nav bar */

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

.nav-item{
    padding:0 18px;
}

.nav-link{
    font-size:1.2rem;
    font-family: "Montserrat-Light";
}

/* download buttons */

.download-button{
    margin: 5% 3% 5% 0%;
}

/* title images */

.title-images{
    width: 50%;
    transform: rotate(20deg);
    position: absolute;
    width: 300px;
    height: 600px;
    right: 20%;


}

/* testimonials */

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 5%;
}

.press-img{
    width: 13%;
    margin: 20px 30px 30px;
}

/* pricing section */

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}
@media (max-width: 1060px){
    #title{
        text-align: center;
    }

    .title-images{
        position: static;
        transform: rotate(0);
    }
}

/* Call to Action  */

#cta{
    background-color: #ff4c68;
    text-align: center;
    font-family: 'Montserrat-Black';
}

.cta-h3{
    padding-top: 5%;
}

/* Footer */
#footer{
    background-color: #fff;
    text-align: center;
    padding-top: 3%;
}

.btn-footer{
    margin-bottom: 50px;
}